body {
    background-color: rgb(32, 30, 30);
}
@media only screen and (max-width: 600px) {
body {
    background-color: rgb(32, 30, 30);
}
}
.map {
    position: relative;
    left: 225px;
    margin-top: 150px;
}
#av-orbit {
    position: relative;
    left: 1150px;
    margin-top: -683px;
}
.datetime {
    font-size: 16px;
    padding: 24px;
    color: #ffffff;
    background: #272626;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    border-right: 10px #0000B7 solid;
    width: 400px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    position: relative;
    left: 1150px;
    margin-top: 20px;
  }
  
  .time {
    font-size: 3em;
    color: #ffffff;
  }
  
  .date {
    margin-top: 12px;
    font-size: 1.75em;
  }
  .creds {
    position: relative;
    left: 1150px;
    margin-top: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #ffffff;
  }
